ul{
    list-style: none;
    /* background:pink; */
    display:flex;
    flex-direction:column;
    width:80%;
    margin:0 auto;
    align-items: center;
    
    
}

 li{
    width:400px;
    padding:10px;
    margin:10px;
    background:rgba(78, 205, 196, 0.5);
    color:rgba(30, 130, 76, 1);
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.add_btn{
    background-color: #4CAF50; /* Green */
    width:200px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}
