*{
    margin: 0;
    padding: 0;
}
.form_dishes{
    
    background:rgba(78, 205, 196, 0.5);
    width:40%;
    margin:auto;
    text-align: center;
    padding:20px;
 }
ul{
    list-style: none;
    /* background:pink; */
}

 li{
    
    padding:20px;
    margin:20px;
   color:#E4A25E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#00364C;
    border-radius:10px;
    font-size:30px;
   text-align: center;
    text-transform: uppercase;
    
}
.add_btn{
    background-color: #4CAF50; /* Green */
    width:200px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}
